{% extends "snippets/layout.html" %}

{% block header %}
<div class="container text-center">
	<div class="mt-5">
		<p>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</p>
	</div>

	<form method="POST" action="" enctype="multipart/form-data">
	  	<div class="form-group mt-5">
	  		<label for="upload">Select file(s) to upload</label>
	  		<input type="file" id="upload" class="form-control-file" name="files[]" multiple="true" required>
	  		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
{% endblock header %}


