{% extends "snippets/layout.html" %}

{% block navbar %}
	{% include "snippets/navbar-back.html" %}
{% endblock navbar %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
	  <div class="container text-black text-center mt-4">
	  	<h1 class="display-4">Bubble</h1>
	  	<form method="POST" action="">
	  		{{ form.hidden_tag() }}
		  	<div class="input-group mt-5">
		  		{{ form.keyword(class="form-control", placeholder="Search") }}
			  <div class="input-group-append">
			  	{{ form.submit(class="btn btn-outline-secondary") }}
			  </div>
			</div>
		</form>
	  </div>
	</div>
{% endblock header %}

{% block content %}
<div class="container">
	{% if datas %}
		{% for data in datas %}
			<div class="card">
				<div class="card-body text-center">
					<h4 class="card-title">
						{{ data }}
					</h4>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock content %}


