{% extends "snippets/layout.html" %}


{% block content %}
<form method="POST" action="">
<div class="container margin-top-7">
	<button type="submit" class="btn btn-outline-info" name="button" value="get">Get File</button>
</div>
</form>


<div class="container margin-top-7">
	{% if data %}
        <div class="list-group">
            {% for lane in data %}
                <div class="d-flex w-100 justify-content-between">
                    <span class="list-group-item list-group-item-action list-group-item-info">
                        <h5 class="mb-1">{{ lane }}</h5>
                        <form method="POST" action="">
                            <button type="submit" class="badge badge-danger" name="button" value="{{lane}}">Delete</button>
                        </form>
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="container justify-content-center margin-top-3">
		    {{ pagination.links }}
        </div>
	{% endif %}
</div>

{% endblock content %}

