{% extends "snippets/layout.html" %}

{% block navbar %}
	{% include "snippets/navbar-back.html" %}
{% endblock navbar %}


{% block content %}

<div class="container margin-top-7">
	{% if data %}
        <div class="list-group">
            {% for i in data %}
                <a href="{{ url_for("static", filename="html/{0}".format(i[1])) }}" class="list-group-item list-group-item-action list-group-item-info">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ i[0] }}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="container text-center margin-top-3">
		    {{ pagination.links }}
        </div>
	{% endif %}
</div>

{% endblock content %}

