{% extends "snippets/layout.html" %}

{% block content %}

<div class="container margin-top-7">
    <div class="alert alert-secondary" role="alert">
        Time Required {{ time }}
    </div>
	{% if data %}
        <div class="list-group">
            {% for lane in data %}
                <a href="{{ url_for("static", filename="html/{0}".format(lane)) }}" class="list-group-item list-group-item-action list-group-item-info">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ lane }}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="container justify-content-center margin-top-3">
		    {{ pagination.links }}
        </div>
	{% endif %}
</div>

{% endblock content %}

