{% extends "layout.html" %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
	  <div class="container text-black text-center mt-4">
	  	<h1 class="display-4">Mini Google</h1>
	  	<div class="input-group mt-5">
		  <input type="text" class="form-control" placeholder="Search" aria-describedby="button-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Go</button>
		  </div>
		</div>
	  </div>
	</div>
{% endblock header %}


